@import '../../scss/variables';

.feed {
	padding: 12px 10px;
	color: $white-text;
	overflow: auto;

	&__posts {
		overflow: auto;
		display: flex;
		align-items: flex-start;
		gap: 5px;

		&-main {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 100%;
		}

		&-input {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			background-color: $secondary-color;
			padding: 15px 20px;
			border-radius: 10px;

			&-main {
				display: flex;
			}

			&-avatar-wrapper {
				width: 40px;
				height: 40px;
			}

			&-avatar {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				user-select: none;
			}

			&-icon {
				fill: #959799;
				stroke: #959799;
				stroke-width: 10;
				width: 20px;
				height: 20px;
			}

			&-submit {
				cursor: pointer;

				padding: 5px 15px;

				font-size: 20px;
				font-weight: 500;
				color: $white-text;

				background-color: transparent;
				background-color: #212224;
				border: none;
				border-radius: 5px;
				user-select: none;

				transition: 0.3s ease all;

				&:hover {
					background-color: $light-blue;
				}
			}
		}
	}

	&__filter {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $secondary-color;
		min-width: 250px;
		padding: 10px;
		border-radius: 10px;

		&-link {
			text-decoration: none;
			color: $white-text;
			font-weight: 500;
			width: 100%;
			text-align: center;
			padding: 8px 0;
			font-size: 20px;
			border-radius: 10px;
			transition: 0.3s ease all;

			&:hover {
				background-color: $primary-color;
			}

			&.active {
				background-color: $light-blue;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.feed {
		&__posts {
			flex-direction: column-reverse;
			gap: 20px;
		}

		&__filter {
			width: 100%;
		}
	}
}

@media screen and (max-width: 550px) {
	.feed {
		&__posts-input {
			&-avatar-wrapper {
				display: none;
			}

			.ql-toolbar {
				display: none;
			}

			.ql-editor {
				font-size: 16px;
				padding: 7px 0;

				&.ql-blank::before {
					left: 0;
				}
			}

			&-submit {
				font-size: 16px;
			}
		}
	}
}
