@import '../../scss/variables';

.post-page {
	padding: 12px 10px;

	&__post-wrapper {
		position: relative;
	}

	&__post {
		display: flex;
		flex-direction: column;
		gap: 10px;

		width: 100%;

		padding: 10px 20px;

		color: $white-text;

		background-color: $secondary-color;
		border-radius: 10px;

		margin-bottom: 12px;
		transition: 0.2s ease;

		ul,
		ol {
			padding-left: 22px;
		}

		&-header {
			user-select: none;

			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: space-between;

			&-info {
				display: flex;
				gap: 10px;
				transition: 0.3s ease all;
			}

			&-more {
				cursor: pointer;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				transition: 0.2s ease all;

				&:hover {
					background-color: #2a2b2e;
				}

				path {
					fill: #959799;
				}
			}
		}

		&-avatar {
			width: 45px;
			height: 45px;
			border-radius: 50%;
		}

		&-username {
			font-size: 22px;
			font-weight: 500;
			color: $white-text;
			text-decoration: none;
			transition: 0.3s ease all;
		}

		&-header-info.link:hover &-username {
			color: $light-blue;
		}

		&-time {
			color: #959799;
			font-size: 15px;
		}

		&-text {
			font-size: 20px;
			color: $white-text;
			word-break: break-word;
		}

		&-context {
			user-select: none;

			position: absolute;
			z-index: 2;
			top: 15px;
			right: 60px;

			display: flex;
			flex-direction: column;

			min-width: 180px;
			padding: 3px;

			list-style: none;

			background-color: rgb(33 33 33);
			border-radius: 7px;
			box-shadow: 1px 1px 12px rgb(14 14 14);
		}

		&-footer {
			display: flex;
			align-items: center;
			gap: 10px;

			&-button {
				display: flex;
				align-items: center;
				gap: 5px;
				padding: 6px 10px;
				background-color: transparent;
				border-radius: 10px;
				border: none;
				cursor: pointer;
				text-decoration: none;
				transition: 0.3s ease all;

				&:hover {
					background-color: #2a2b2e;
				}
			}

			&-icon {
				width: 20px;
				height: 20px;
				transition: 0.3s ease all;
			}

			&-button.active &-icon.like {
				animation: likeAnimation 0.3s ease 0s 1 alternate;
			}

			&-button.active &-icon.like path {
				fill: $error;
			}

			@keyframes likeAnimation {
				50% {
					transform: scale(1.2);
				}

				100% {
					transform: scale(1);
				}
			}

			&-button.active &-likes {
				color: $error;
			}

			&-likes,
			&-comments {
				font-size: 16px;
				color: #959799;
			}
		}

		&-editing {
			&-input {
				background-color: $primary-color;
				border-radius: 5px;
				margin-bottom: 15px;
				transition: 0.3s ease all;
				font-size: 12px !important;

				.ql-editor {
					font-size: 20px;

					.ql-syntax {
						background-color: $secondary-color !important;
					}
				}
			}

			&-buttons {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 5px;
			}

			&-button {
				background-color: transparent;
				cursor: pointer;
				border: none;
				background-color: #212224;
				color: white;
				font-size: 18px;
				padding: 5px 15px;
				border-radius: 5px;
				font-weight: 500;
				transition: 0.3s ease all;

				&:hover {
					background-color: $light-blue;
				}
			}
		}
	}

	&__line {
		margin-bottom: 12px;
		border-radius: 10px;
		background-color: #434449;
		border: none;
		height: 3px;
	}

	&__comments {
		&-form {
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: flex-start;
			background-color: $secondary-color;
			padding: 10px 20px;
			border-radius: 10px;
			margin-bottom: 10px;

			&-info {
				display: flex;
				gap: 10px;
				width: 100%;
			}

			&-button {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				padding: 7px;
				cursor: pointer;
				border: none;
				border-radius: 50%;

				&:hover {
					background-color: #2a2b2e;
				}
			}

			&-icon {
				width: 25px;
				height: 25px;

				path {
					fill: #959799;
				}
			}
		}

		&-avatar-wrapper {
			width: 40px;
			height: 40px;
		}

		&-main {
			display: flex;
			flex-direction: column;
			background-color: $secondary-color;
			border-radius: 10px;
			padding: 10px 15px;
		}

		&-count {
			color: $white-text;
			font-weight: 500;
			margin-bottom: 10px;
		}
	}

	&__comment-wrapper {
		position: relative;
	}

	&__comment {
		color: $white-text;
		padding: 12px 5px;
		border-radius: 10px;
		transition: 0.3s ease background;

		&.hover:hover {
			background-color: $primary-color;
		}

		&-editing {
			&-input {
				background-color: $primary-color;
				border-radius: 5px;
				margin-bottom: 15px;
				transition: 0.3s ease all;
				font-size: 12px !important;

				.ql-editor {
					font-size: 16px;
				}
			}

			&-buttons {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 5px;
			}

			&-button {
				background-color: transparent;
				cursor: pointer;
				border: none;
				background-color: #212224;
				color: white;
				font-size: 18px;
				padding: 5px 15px;
				border-radius: 5px;
				font-weight: 500;
				transition: 0.3s ease all;

				&:hover {
					background-color: $light-blue;
				}
			}
		}

		&-main-editing {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&-avatar-wrapper {
			float: left;
			margin-right: 10px;
			height: 40px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&-header {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
				height: 35px;
				width: 100%;

				&-left {
					display: flex;
					align-items: center;
					gap: 5px;
				}
			}
		}

		&-username {
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
			color: $white-text;
		}

		&-time {
			color: #959799;
			font-size: 15px;
		}

		&-text {
			word-break: break-word;
			padding-right: 10px;
			margin-bottom: 3px;
		}

		&-like {
			display: flex;
			align-items: center;
			gap: 5px;
			background-color: transparent;
			border: none;
			padding: 6px 10px;
			border-radius: 10px;
			transition: 0.3s ease all;
			cursor: pointer;

			&:hover {
				background-color: #2a2b2e;
			}

			&-count {
				color: #959799;
				font-size: 16px;
			}
		}

		&-icon {
			width: 20px;
			height: 20px;
		}

		&-like.active &-icon {
			animation: likeAnimation 0.3s ease 0s 1 alternate;
		}

		&-like.active &-icon path {
			fill: $error;
		}

		@keyframes likeAnimation {
			50% {
				transform: scale(1.2);
			}

			100% {
				transform: scale(1);
			}
		}

		&-like.active &-like-count {
			color: $error;
		}

		&-context {
			user-select: none;

			position: absolute;
			z-index: 2;
			top: 15px;
			right: 60px;

			display: flex;
			flex-direction: column;

			min-width: 180px;
			padding: 3px;

			list-style: none;

			background-color: rgb(33 33 33);
			border-radius: 7px;
			box-shadow: 1px 1px 12px rgb(14 14 14);

			&-item {
				cursor: pointer;

				display: flex;
				gap: 15px;
				align-items: center;

				width: 100%;
				padding: 6px 5px 6px 10px;

				font-size: 16px;
				font-weight: 500;
				color: $white-text;
				text-decoration: none;

				background-color: transparent;
				border: none;
				border-radius: 7px;

				transition: 0.2s ease all;

				&-icon {
					width: 20px;
					height: 20px;
					fill: $white-text;

					path {
						stroke: $white-text;
					}
				}

				&:hover {
					background-color: rgb(172 172 172 / 8.9%);
				}

				&.delete {
					color: $error;

					&:hover {
						background-color: #ff59592a;
					}
				}

				&.delete &-icon {
					fill: $error;

					path {
						stroke: $error;
					}
				}
			}
		}

		&-report {
			padding: 15px 20px;

			&-text {
				font-size: 22px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			&-input {
				width: 100%;
				resize: none;
				background-color: $secondary-color;
				color: $white-text;
				border: none;
				outline: none;
				border-radius: 8px;
				padding: 10px;
				font-size: 16px;
				margin-bottom: 10px;
			}

			&-buttons {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 10px;
			}

			&-button {
				background-color: transparent;
				border-radius: 5px;
				color: rgb(51 179 253);
				border: none;
				padding: 5px 15px;
				cursor: pointer;
				font-size: 16px;
				transition: 0.3s ease all;

				&:hover {
					background-color: rgb(51 179 253 / 15.8%);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.post-page {
		&__post {
			&-avatar {
				width: 40px;
				height: 40px;
			}

			&-username {
				font-size: 20px;
			}

			&-time {
				font-size: 13px;
			}
		}

		&__comment {
			&-info-header {
				height: 25px;
			}

			&-username {
				font-size: 18px;
			}

			&-time {
				font-size: 13px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.post-page {
		&__comments {
			&-avatar-wrapper {
				display: none;
			}

			&-form {
				.ql-editor {
					padding: 7px 0;
				}

				.ql-editor.ql-blank:before {
					left: 0;
				}

				.post-page__post-avatar {
					display: none;
				}
			}
		}

		&__comment {
			&-info-header {
				height: initial;
				&-left {
					flex-direction: column;
					align-items: flex-start;
					gap: 0;
					margin-bottom: 10px;
				}
			}
		}
	}
}
