@import '../../scss/variables';

.activate {
	padding: 7vh;
	text-align: center;

	&__text {
		margin-bottom: 15px;
		font-size: 40px;
		font-weight: 500;
		color: $white-text;
	}

	&__button {
		cursor: pointer;

		padding: 10px 45px;

		font-size: 25px;
		font-weight: 500;
		color: $white-text;

		background-color: transparent;
		border: 1px solid $white-text;
		border-radius: 5px;

		transition: 0.25s ease all;

		&:hover {
			background-color: $light-blue;
			border: 1px solid $light-blue;
		}
	}
}
